#root {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchbar {
	display: flex;
	justify-content: space-between;
}

.searchbar input {
	width: 50%;
}